---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.vue'; // Our main Vue app component
---

<Layout title="color.v - Color Palette Generator">
	<main class="w-full flex justify-center items-start min-h-screen"> 
		<div class="bg-slate-50 shadow-2xl rounded-xl w-full overflow-hidden"> 
			<App client:load /> 
		</div>
	</main>
</Layout>


