---

---

<header
  class="flex flex-col lg:flex-row justify-center lg:justify-start text-center lg:text-left items-center gap-4 mb-8"
>
  <a href="/">
    <img src="/favicon.svg" alt="logo" class="w-16" />
  </a>
  <div class="flex flex-col gap-0">
    <h1
      class="font-extrabold tracking-tight text-3xl text-zinc-800 text-center lg:text-left"
    >
      Color Picker
      <span>
        <a
          href="//github.com/madsouris/colorpicker"
          target="_blank"
          rel="nofollow"
          class="text-xs rounded ms-2 text-gray-600 underline"
        >
          Github &#8599;
        </a>
      </span>
    </h1>
    <p class="font-mono font-light tracking-tight text-sm text-zinc-600">
      These colors are from the old <a
        class="underline italic"
        href="//web.archive.org/web/20140701012736/ttps://www.google.com/design/spec/style/color.html"
        target="_blank">Google Material Design Color Guideline &#8599;</a
      >
    </p>
  </div>
</header>
